.table tr td img{
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
}


.table td i{
  cursor: pointer;
  font-size: 20px;
}


.empty__cart{
  margin-top: 95px;
  margin-bottom: 90px;
  padding: 30px;
}